::-webkit-scrollbar {
	opacity: 0;
	width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.1);
} 
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
}
body{
	position: absolute;
	margin: 0px;
	width: 100%;
	height: 100%;
	color: #555;
}
header{
	position: absolute;
	display: inline-block;
	margin: 0px;
	width: 100%;
	height: 3.5%;
	background: #333;
}
header a{
	font-size: 12pt;
	margin: 0px;
	color: #FFF;
	text-decoration: none;
	margin-left: 10px;
}
#members{
	position: absolute;
	top:3.5%;
	right: 0%;
	height: 74.5%;
	width: 25%;
	overflow-y: scroll;
}
#messages{
	position: absolute;
	top:3.5%;
	left: 0%;
	height: 74.5%;
	width: 75%;
	background: #FFF;
	border-right: solid 2px #CCC;
	overflow-y: scroll;
}
#post,#set{
	position: absolute;
	top:78%;
	left: 0%;
	height: 19.5%;
	width: 100%;
	border-top: solid 1px #CCC;
	background: #FFF;
}
#shift_post,#shift_set{
	position: absolute;
	top: 78%;
	right: 0%;
	width: 80px;
	height: 18px;
	border: none;
	border-radius: 5px 5px 0px 0px;
	margin-right: 100px;
	margin-top: -17.5px;
	outline: none;
	border: solid 1px #CCC;
	background: #FFF;
	cursor: pointer;
	font-size: 8pt;
}
#shift_set{
	margin-right: 15px;
	color: #CCC;
}
#set{
	display: none;
	padding: 1%;
	width: 98%;
	height: 17.5%;
}
#post_message{
	position: relative;
	top: 2.5%;
	resize:none;
	width: 80%;
	height: 87%;
	padding: 1%;
	outline: none;
	border: none;
	border-right: solid 1px #CCC;
	font-size: 20pt;
}
#post button{
	position: absolute;
	height: 16%;
	border: solid 1px #999;
	outline: none;
	color: #333;
	background: #FFF;
	border-radius: 0px 5px 0px 5px;
	cursor: pointer;
	font-size: 10pt;
}
#post button:hover{
	background: #CCC;
}
#post_button{
	top: 4%;
	right: 1%;
	width: 16%;
}
#image_button{
	top: 21%;
	right: 1%;
	width: 16%;
}
#hello_button{
	top: 38%;
	right: 1%;
	width: 16%;
}
#u_button{
	top: 55%;
	right: 9.25%;
	width: 7.75%;
}
#i_button{
	top: 55%;
	right: 1%;
	width: 7.75%;
}
#d_button{
	top: 72%;
	right: 9.25%;
	width: 7.75%;
}
#b_button{
	top: 72%;
	right: 1%;
	width: 7.75%;
}
#o_button{
	top: 89%;
	right: 9.25%;
	width: 7.75%;
}
#version{
	position: absolute;
	font-size: 8pt;
	right: 1%;
	bottom: 0%;
	color: #CCC;
}